 <!--Main layout-->
  <!-- MDB -->
  <script type="text/javascript" src="/../public/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="/../public/js/admin.js"></script>

</body>

</html>
<script>
// Basic example
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

