 <!--Main layout-->
<!-- Footer -->
 <footer>
      <div class="top-footer-container">
        <div class="top-footer">
          <span>USA</span>
          <span class="material-icons"> lens </span>
          <span>Mumbai, Maharashtra</span>
          <span style="color:#1a0dab">
            <a href="#" >
              - Based on your past activity
              <a href="#"> - Use precise location</a>
            </a></span>
        </div>
      </div>
      <div class="bottom-footer">
        <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">Send feedback</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
        </ul>
      </div>
    </footer>
<!-- Footer change -->


  <!-- MDB -->
  <script type="text/javascript" src="/../public/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="/../public/js/admin.js"></script>

</body>

</html>
<script>
// Basic example
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

