 <!--Main layout-->
<!-- Footer -->
<footer class="page-footer font-small grey lighten-3 py-4 dark-grey-text">

  <!-- Footer Elements -->
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3 class="font-weight-bold mb-0">Web Through</h3>
        
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
          <li>
          	<a class="mx-3" role="button">About</a>
          </li>
          <li>
          	<a class="mx-3" role="button">How Search Works</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Policy</a>
          </li>
          <li>
          	<a class="mx-3" role="button">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <!-- Copyright -->
        <div class="footer-copyright text-right bg-transparent dark-grey-text mt-2">© 2023.
          <a class="dark-grey-text" href="#"> All rights reserved.</a>
        </div>
        <!-- Copyright -->
      </div>
    </div>

  </div>
  <!-- Footer Elements -->

</footer>
<!-- Footer -->


  <!-- MDB -->
  <script type="text/javascript" src="/../public/js/mdb.min.js"></script>
  <!-- Custom scripts -->
  <script type="text/javascript" src="/../public/js/admin.js"></script>

</body>

</html>
<script>
// Basic example
$(document).ready(function() {
    $('#example').DataTable();
} );

</script>

