
 <%- include('../partials/header-front'); %>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
<link rel="stylesheet" href="/node_modules/cookie-consent-js/src/cookie-consent.css"/>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css" />
    <style>
 
#cookiePopup {
  background-color: #ffffff;
  position: absolute;
  font-size: 14px;
  width: 70vw;
  max-width: 42.85em;
  box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  line-height: 1.8em;
  padding: 0.2em 1.4em;
  border-radius: 6px;
  transition: all 0.5s ease-in;
}
#cookiePopup img {
  display: block;
  width: 3.75em;
  transform: translateZ(0);
  position: relative;
  margin: auto;
}
#cookiePopup p {
  text-align: left;
 
}
#cookiePopup button {
 
  border: none;
  color: #ffffff;
  font-size: 1.2em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 4px;
}
#cookiePopup a {
  color: #6859fe;
}
.hide {
  visibility: hidden;
  bottom: 0;
  right: 2em;
}
.show {
  visibility: visible;
  bottom: 2em;
  right: 2em;
}
@media only screen and (max-width: 37.5em) {
  #cookiePopup {
    width: 100%;
  }
  .hide {
    bottom: 2em;
    right: 0;
  }
  .show {
    right: 0;
    bottom: 0;
  }
}
    </style>
  </head>
  <body>
  <div class="container-fluid">
  <div class="row search-container">
    <div class="col-sm">
    
    </div>
    <div class="col-sm">
      <form action="/searchTerm" method="POST" name="searchform" class="search-form">
        <p align="center"> <img src="/../public/img/Web3Search.png" height="60" alt="Web3Search" loading="lazy" /></p>
        <input type="text" name="searchtermtext" class="form-control" placeholder="Search here.." value="" required>
        <p align="center"><br> <button type="submit" class="btn btn-primary center" type="submit">Search</button></p>
      </form>
    </div>
    <div class="col-sm"></div>
    <% if (message) { %>
    <div class="container my-4">
      <!-- Include your result-item divs here -->
      <main>
      <div class="main-container">
        <div class="search-delay">
          About 17,000,000 results (0.35 seconds)
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithwebthrough.com</a>
            <a href="#"><span class="material-icons-outlined dots">
                more_vert
            </span></a>

          </div>
          <h3><a href="#">Code with webthrough - Best Front-End Components and Blogs</a></h3>
          <p>
            codewithwebthrough is an up-to-date collection of accessible front-end components, blogs and tutorials related to technology, programming and web development.
          </p>
          <div class="sub-result-container">
            <div class="sub-result-item">
              <h3><a href="#">Components</a></h3>
              <p>Find an up-to-date collection of accessible front-end components ...</p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Blogs</a></h3>
              <p>
                Get Latest Blogs related to technology, programming ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">About</a></h3>
              <p>
                This is webthrough Choudhary admin of codewithwebthrough.com ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Privacy Policy</a></h3>
              <p>
                This Privacy Policy applies only to our online activities and is valid for
                ...
              </p>
            </div>
            <div class="sub-result-item">
              <h3><a href="#">Contact</a></h3>
              <p>Lets talk about everything! Whether you have a question ...</p>
            </div>
          </div>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithwebthrough.com › components </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3><a href="#">Latest Front-End Components - codewithwebthrough</a></h3>
          <p>
            Find an up-to-date collection of accessible front-end components. Components are used to define custom, reusable HTML elements.
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithwebthrough.com › contact </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3><a href="#">Code with webthrough - Contact Us - codewithwebthrough</a></h3>
          <p>
            Lets talk about everything! Whether you have a question, want to start a project or simply want to connect.
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.instagram.com › @codewithwebthrough.com </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">codewithwebthrough (@codewithwebthrough) • Instagram photos and videos</a>
          </h3>
          <p>
            55.5k Followers, 302 Following, 110 Posts - See Instagram photos and
            videos from <strong>codewithwebthrough</strong> (@<strong>codewithwebthrough</strong>)
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#">https://www.codewithwebthrough.com</a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3><a href="#">Lorem ipsum dolor sit amet.</a></h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laudantium sequi cumque voluptatum natus in?.
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.codewithwebthrough.com </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, laudantium sequi cumque voluptatum natus in?.
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.codewithwebthrough.com › blogs </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet consectetur.</a>
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo repellat deleniti placeat. Dignissimos similique hic quibusdam reiciendis ipsa! Obcaecati, ea..
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.codewithwebthrough.com </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit molestias recusandae tempora, voluptas hic fugit ad molestiae..
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.codewithwebthrough.com </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing.</a>
          </h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum, saepe maxime ratione numquam reiciendis expedita impedit voluptatem facere assumenda?
          </p>
        </div>
        <div class="result-item">
          <div class="result-item-link">
            <a href="#"> https://www.codewithwebthrough.com </a>
            <a href="#"><span class="material-icons-outlined dots">
              more_vert
            </span></a>
          </div>
          <h3>
            <a href="#">Lorem ipsum dolor sit amet.</a>
          </h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea assumenda perferendis, distinctio qui repellat sapiente amet culpa natus voluptatum repellendus?
          </p>
        </div>
        <section class="pages-nav">
          <table>
            <tr>
              <td>W</td>
              <td><a href="#" id="first-o">e</a></td>
              <td><a href="#">b</a></td>
              <td><a href="#">t</a></td>
              <td><a href="#">h</a></td>
              <td><a href="#">r</a></td>
              <td><a href="#">o</a></td>
              <td><a href="#">u</a></td>
              <td><a href="#">g</a></td>
              <td><a href="#">h</a></td>
              <td>g</td>
              <td>l</td>
              <td>e</td>
              <td><a href="#">></a></td>
            </tr>
            <tr>
              <td></td>
              <td><a href="#">1</a></td>
              <td><a href="#">2</a></td>
              <td><a href="#">3</a></td>
              <td><a href="#">4</a></td>
              <td><a href="#">5</a></td>
              <td><a href="#">6</a></td>
              <td><a href="#">7</a></td>
              <td><a href="#">8</a></td>
              <td><a href="#">9</a></td>
              <td></td>
              <td></td>
              <td></td>
              <td><a href="#">Next</a></td>
            </tr>
          </table>
        </section>
      </div>

    </main>
    </div>
    <% } else { %>
    <div style="clear:both; padding-top: 15%;"></div>
    <% } %>
  </div>
</div>
<!-- consent form pop up-->
    <div id="cookiePopup" class="hide">
      <div class="cookie-consent-banner">
  <div class="cookie-consent-banner__inner">
    <div class="cookie-consent-banner__copy">
      <div class="cookie-consent-banner__header"><strong>THIS WEBSITE USES</strong></div>
      <div class="cookie-consent-banner__description">We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. You consent to our cookies if you continue to use our website.</div>
    </div>

    <form class="cookie-consent-banner__actions">
     
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
  <label class="form-check-label" for="flexRadioDefault1"> I do not allow any personal data regarding my visit to be recorded (some services may not be available as a result)</label>
</div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="consent" value="yes">
        <labelclass="form-check-label">I allow this site to use cookies to retain data on my use of this site (normal site performance)</label>
        
      </div>

     <div class="form-check">
        <input  class="form-check-input" type="radio" id="option3" name="consent" value="tokenize">
        <label class="form-check-label">I allow the site to tokenize data on my visit (normal site performance, with control of your data for further sale as you choose)</label>
        
      </div>

   
     <p align="center">
     <button id="acceptCookie"  class="btn btn-primary center" type="submit">Accepted</button></p>
     
    
    </form>
  </div>
</div>
      
    </div>
    <%- include('../partials/footer'); %>
    <!-- end consent form pop up-->
    <script>
    let popUp = document.getElementById("cookiePopup");
//When user clicks the accept button
document.getElementById("acceptCookie").addEventListener("click", () => {
  //Create date object
  let d = new Date();
  //Increment the current time by 1 minute (cookie will expire after 1 minute)
  d.setMinutes(2 + d.getMinutes());
  //Create Cookie withname = myCookieName, value = thisIsMyCookie and expiry time=1 minute
  document.cookie = "myCookieName=thisIsMyCookie; expires = " + d + ";";
  //Hide the popup
  popUp.classList.add("hide");
  popUp.classList.remove("show");
});
//Check if cookie is already present
const checkCookie = () => {
  //Read the cookie and split on "="
  let input = document.cookie.split("=");
  //Check for our cookie
  if (input[0] == "myCookieName") {
    //Hide the popup
    popUp.classList.add("hide");
    popUp.classList.remove("show");
  } else {
    //Show the popup
    popUp.classList.add("show");
    popUp.classList.remove("hide");
  }
};
//Check if cookie exists when page loads
window.onload = () => {
  setTimeout(() => {
    checkCookie();
  }, 2000);
};
</script>