
<%- include('../partials/header-front'); %>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</head>
<div class="container-fluid">
  
    <div class="row" style="padding-top:100px;">
        <div class="col-sm">
         
        </div>
        <div class="col-sm">
            <form action="/searchTerm" method="POST" name="searchform">
                
                    <p  align="center"> <img
          src="/../public/img/Web3Search.png"
          height="60"
          alt="Web3Search"
          loading="lazy"
        /></p>
         <% if (message) { %>
    <h2><%= message %></h2>
<% } %>
                    <input type="text" name="searchtermtext" class="form-control" placeholder="Search here.." value="" required>
                 
                <p align="center"><br> <button type="submit" class="btn btn-primary center" type="submit">Search</button></p>
                
              </form>
        </div>
        <div class="col-sm">
         
        </div>
        <div style="clear:both; padding-top: 15%;"></div>
      </div>
   
  </div>
 	<!-- Modal HTML -->
	



  
  <!-- Modal -->
  
    <%- include('../partials/footer'); %>

    
        <script type="text/javascript">
            $(window).on('load',function(){
                alert('muekshsdfs');
                $('#exampleModal').modal('show');
            });
            
        </script>