<%- include('../partials/header'); %>
<main style="margin-top: 58px">
<div class="container pt-4">
<section class="mb-4">
  <div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-10">

            <div class="card">

                <div class="card-header">

                    <h2 class="text-info">Profiles</h2>

                </div>

                <div class="card-body">

                    <div class="form-group">

                        <label for="country">Country</label>

                        <select class="form-control" id="countryData">

                            <option value="">Select Country</option>

                            <% if(data.length){

                                for(var i = 0; i< data.length; i++) {%> 

                                    <option value="<%= data[i].id%>">

                                        <%= data[i].name%>

                                    </option>

                                <% } 

                            } %>

                        </select>  

                    </div>

                    <div class="form-group">

                        <label for="state">State</label>

                        <select class="form-control" id="state-dropdown">
                          <option value="">Select Country</option>

                          
                        </select>

                    </div>                        

                    <div class="form-group">

                        <label for="city">City</label>

                        <select class="form-control" id="city-dropdown">

                        </select>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
<script >

    $(document).ready(function() {

        $('#countryData').on('change', function() {

            var country_id = this.value;
            console.log(country_id);
            alert("Muksjsdsdf")

            $("#state-dropdown").html('');

            $.ajax({

                url: "http://localhost:3000/get-states-by-country",

                type: "POST",

                data: {

                    name: 'country',

                    country_id: country_id,

                },


                dataType: 'json',

                success: function(result) {

                    $('#state-dropdown').html('<option value="">Select State</option>');

                    $.each(result.states, function(key, value) {

                        $("#state-dropdown").append('<option value="' + value.id + '">' + value.name + '</option>');

                    });

                

                    $('#city-dropdown').html('<option value="">Select State First</option>');

                }

            });

        });

        

        $('#state-dropdown').on('change', function() {

            var state_id = this.value;

            $("#city-dropdown").html('');

            $.ajax({

                url: "http://localhost:3000/get-cities-by-state",

                type: "POST",

                data: {

                    name: 'state',

                    state_id: state_id,

                },


                dataType: 'json',

                success: function(result) {

                    $('#city-dropdown').html('<option value="">Select City</option>');

                    $.each(result.cities, function(key, value) {

                        $("#city-dropdown").append('<option value="' + value.id + '">' + value.name + '</option>');

                    });

                }

            });

        });

    }); 

</script>
  </section>
  </div>
  </main>



</div>
  <%- include('../partials/footer'); %>